APP_ENV=production
APP_TIMEZONE=America/Santiago
NOTIFICATIONS_SEND_EMAIL=0
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
SMTP_FROM_NAME=Sistema de Reserva
SMTP_FROM_EMAIL=notificaciones@sistema.local
